# sphinx plugin setting

defaults: &defaults

  server:
    #Public Root Directory (i.e. /var/www/)
    document_root_path: /opt/redmine/current/public/
    #Directory name to put your sphinx document
    sphinx_dir: doc
    #http server port
    server_port: 80

  sphinx:
    sphinx_makefile_head: '# Makefile for Sphinx documentation'
    build_dir_variable_name: 'BUILDDIR'
    sphinx_index_page: index.html

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
